/*  ========================================================================== */
/* Remove all default styling in browser */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}

/*  ========================================================================== */
/* Setting default primary and most used colors for styling */
:root {
  --primary-color: #26282c;
  --secondary-color: #dadddd;
  --border-color: #ebecf2;
  --dark-mode-font: #f4eeee;
  --dark-mode-border: #a09d9d;
  --dark-mode-secondary: #d4cece;
}

/*  ========================================================================== */
/* Setting the body background */
body {
  background: #fff;
  transition: all 0.5s;
  /* Scrollbar styling */
}
body::-webkit-scrollbar {
  width: 0.6rem;
}
body::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 100vw;
}
body::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 100vw;
}
body::-webkit-scrollbar-thumb:hover {
  background: #6c757d;
}
body:hover::-webkit-scrollbar-thumb {
  background: #b2b5b9;
}

/*  ========================================================================== */
/* Mobile first styling */
header {
  padding: 1.25rem;
  border-bottom: 1px solid #e5eaef;
}
header .logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
header .logo img {
  width: 1.9rem;
}
header .logo h1 {
  font-size: 1rem;
  color: var(--primary-color);
  font-weight: 600;
}
header ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s;
}
header ul li.search-box {
  position: relative;
  width: 55%;
}
header ul li.search-box img {
  position: absolute;
  left: 1rem;
  top: 0.638rem;
}
header ul li.search-box input {
  border: 1px solid var(--secondary-color);
  border-radius: 24px;
  width: 90%;
  padding: 0.5rem 0 0.5rem 2.625rem;
  outline: none;
  color: #a3a3a3;
}
header ul li.search-box input::-moz-placeholder {
  color: #a3a3a3;
}
header ul li.search-box input::placeholder {
  color: #a3a3a3;
}
header ul li.menu .menu1,
header ul li.menu .menu2 {
  display: block;
  transition: all 0.5s;
  cursor: pointer;
}
header ul li.menu .menu1 span,
header ul li.menu .menu2 span {
  display: block;
  width: 17px;
  height: 2px;
  background: #34caa5;
  margin: 3px 0;
  border-radius: 10px;
  transition: all 0.5s;
}
header ul li.menu .menu1.span-menu,
header ul li.menu .menu2.span-menu {
  transition: all 0.5s;
}
header ul li.menu .menu1.span-menu span:first-child,
header ul li.menu .menu1.span-menu span:last-child,
header ul li.menu .menu2.span-menu span:first-child,
header ul li.menu .menu2.span-menu span:last-child {
  width: 11px;
  transform: translate(6px);
  transition: all 0.5s;
}
header ul li.menu .menu2 {
  display: none;
}
header ul li.calendar {
  color: var(--primary-color);
  position: relative;
  font-size: 0.5rem;
  cursor: pointer;
  transition: all 1s;
}
header ul li.calendar span {
  position: absolute;
  left: 1rem;
  top: 1.4rem;
  background: #34caa5;
  color: #fff;
  font-weight: 500;
  padding: 0.4rem;
  border-radius: 0 20px 20px 20px;
  white-space: nowrap;
  transition: all 1s;
  display: none;
}
header ul li.calendar:hover span {
  display: inline;
}
header ul li.notification-content {
  position: relative;
}
header ul li.notification-content div::before {
  content: attr(data-after);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -5px;
  right: 10px;
  width: 1.1rem;
  height: 1.1rem;
  background: rgb(215, 11, 11);
  border-radius: 15px;
  transition: all 0.5s;
  transform: translate(80%);
  color: white;
  font-size: 0.5rem;
  z-index: 200;
}
header ul li .notification {
  border-radius: 27px;
  border: solid 0.048rem var(--secondary-color);
  padding: 0.488rem;
  cursor: pointer;
}
header ul li.profile {
  display: flex;
  align-items: center;
  padding: 0.375rem 0.5rem;
  border-radius: 28px;
  cursor: pointer;
}
header ul li.profile img {
  width: 1.9rem;
}
header ul li.profile img:last-child {
  width: 1.25rem;
}
header ul li.profile .p1 {
  display: none;
}
header.fixed-header {
  position: fixed;
  z-index: 5;
  background: rgba(255, 255, 255, 0.9019607843);
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.5s;
  animation: smooth 0.5s ease-in-out 0s 1;
}
@keyframes smooth {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  transition: all 0.5s;
  background: rgba(0, 0, 0, 0.1);
  visibility: hidden;
}
nav .container {
  height: 96vh;
  width: 22%;
  color: var(--primary-color);
  background: var(--dark-color);
  margin: 1rem;
  padding: 1.5rem 0.5rem;
  padding-right: 0;
  border-radius: 10px;
  position: relative;
  background: white;
  text-align: center;
  transform: translate(-200%);
  transition: transform 0.4s 0.1s;
}
nav .container .logo {
  margin-bottom: 10px;
}
nav .container .exit-navigation {
  font-size: 1.5rem;
  color: #c2bfbf;
  position: absolute;
  right: 0;
  top: -0.8rem;
  padding: 0.5rem;
  cursor: pointer;
}
nav .container .navigation-list {
  overflow-y: scroll;
  height: 92vh;
}
nav .container .navigation-list::-webkit-scrollbar {
  width: 0.5rem;
}
nav .container .navigation-list::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 100vw;
}
nav .container .navigation-list::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 100vw;
}
nav .container .navigation-list::-webkit-scrollbar-thumb:hover {
  background: var(--font-color);
}
nav .container .navigation-list:hover::-webkit-scrollbar-thumb {
  background: #b2b5b9;
}
nav .container .navigation-list ul {
  list-style: none;
  position: relative;
}
nav .container .navigation-list ul li {
  padding: 10px 0;
  margin: 5px 0;
  transition: all 0.5s;
}
nav .container .navigation-list ul li a {
  text-decoration: none;
  color: var(--primary-color);
  transition: all 0.5s;
}
nav .container .navigation-list ul li span {
  display: none;
  transition: all 0.5s;
  color: var(--primary-color);
}
nav .container .navigation-list ul .current p {
  position: absolute;
  height: 21px;
  width: 3px;
  background: #0d062d;
  right: 0px;
}
nav .container .navigation-list ul .light-dark-mode {
  padding: 8px;
  background: #f3efef;
  border-radius: 100px;
}
nav .container .navigation-list ul .light-dark-mode li {
  cursor: pointer;
}
nav .container .navigation-down {
  margin-top: 12.125rem;
}

main {
  padding: 1.25rem;
  display: grid;
  gap: 1.25rem;
  background: #fafafa;
}
main .sales-trends {
  position: relative;
  color: black;
  padding: 1rem 1.25rem;
  border: 1px solid #edf2f7;
  border-radius: 14px;
  background: #fff;
}
main .sales-trends .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .sales-trends .header h2 {
  color: var(--primary-color);
  font-size: 1.125rem;
  font-weight: 600;
}
main .sales-trends .header div {
  display: flex;
  align-items: center;
}
main .sales-trends .header div span:first-child {
  font-size: 0.875rem;
  color: #3a3f51;
  font-weight: 500;
}
main .sales-trends .header div span:last-child {
  font-size: 0.675rem;
  color: #3a3f51;
  padding: 0.375rem 0.75rem;
  border: 1px solid #e1dfdf;
  border-radius: 20px;
  font-weight: 500;
  margin-left: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}
main .sales-trends .column-chart {
  position: relative;
  border-radius: 15px;
  color: black;
  font-weight: 100;
  font-size: 0.8rem;
  margin-bottom: 1.25rem;
}
main .sales-trends .column-chart .chart {
  display: flex;
  align-items: center;
  gap: 23px;
}
main .sales-trends .column-chart .chart .sales .graph {
  padding-bottom: 23.83px;
  color: #525252;
}
main .sales-trends .column-chart .chart .sales .graph:last-child {
  padding-bottom: 0;
}
main .sales-trends .column-chart .chart .sales .graph span:first-child {
  display: none;
}
main .sales-trends .column-chart .chart .bar {
  width: 90%;
  padding-bottom: 5px;
}
main .sales-trends .column-chart .chart .bar .graph-line {
  width: 100%;
  padding-bottom: 27.22px;
  border-bottom: 1px dashed #eaeaea;
}
main .sales-trends .column-chart .days {
  width: 90%;
  position: absolute;
  bottom: 0.3rem;
  margin-left: 40px;
  display: flex;
  justify-content: space-between;
}
main .sales-trends .column-chart .days span {
  flex-grow: 1;
  background: rgba(52, 202, 165, 0.1019607843);
  margin: 0 5px;
  position: relative;
  border-radius: 20px 20px 0 0;
  text-transform: lowercase;
}
main .sales-trends .column-chart .days span:nth-child(12), main .sales-trends .column-chart .days span:nth-child(11) {
  position: relative;
  background: linear-gradient(180deg, #34caa5 0%, rgba(52, 202, 165, 0) 100%);
}
main .sales-trends .column-chart .days span:nth-child(12) .details, main .sales-trends .column-chart .days span:nth-child(11) .details {
  position: absolute;
  background: #090c2c;
  color: var(--secondary-color);
  width: 5rem;
  height: 1.625rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  top: -25px;
  left: 34%;
  transform: translate(-50%, -50%);
}
main .sales-trends .column-chart .days span:nth-child(12) .details::before, main .sales-trends .column-chart .days span:nth-child(11) .details::before {
  content: "";
  position: absolute;
  bottom: 22px;
  width: 0;
  height: 0;
  border-style: solid;
  bottom: -10px;
  border-width: 6px 8px 6px 0;
  border-color: transparent #090c2c transparent;
  transform: rotate(-90deg);
}
main .sales-trends .column-chart .days span::after {
  content: attr(data-value);
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
}
main .sales-trends .column-chart .days span:nth-child(odd) {
  display: none;
}
main .activity-summary {
  display: grid;
  gap: 1rem;
}
main .activity-summary .summary {
  background: #fff;
  padding: 1rem;
  border: 1px solid #edf2f7;
  border-radius: 14px;
}
main .activity-summary .summary .trend-lines {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .activity-summary .summary .trend-lines img:first-child {
  padding: 0.5rem;
  border: 0.71px solid #e6e6e6;
  border-radius: 24px;
}
main .activity-summary .summary p {
  font-size: 1.125rem;
  font-weight: 500;
  color: #898989;
  margin: 0.625rem 0 0.313rem 0;
}
main .activity-summary .summary p:nth-child(3) {
  font-size: 1.5rem;
  font-weight: 600;
  color: #3a3f51;
  margin-bottom: 0.625rem;
}
main .activity-summary .summary .order-percentage {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .activity-summary .summary .order-percentage div {
  background: rgba(52, 202, 165, 0.1215686275);
  padding: 0.25rem 0.5rem;
  border-radius: 1000px;
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  gap: 2px;
}
main .activity-summary .summary .order-percentage div span {
  color: #34caa5;
  font-size: 0.75rem;
}
main .activity-summary .summary .order-percentage span {
  color: #201919;
  font-size: 0.875rem;
  white-space: nowrap;
}
main .activity-summary .summary:nth-child(2) .order-percentage div, main .activity-summary .summary:nth-child(3) .order-percentage div {
  background: rgba(237, 84, 78, 0.1215686275);
}
main .activity-summary .summary:nth-child(2) .order-percentage div span, main .activity-summary .summary:nth-child(3) .order-percentage div span {
  color: #ed544e;
}
main .recent-orders {
  background: #fff;
  border-radius: 14px;
  padding: 1.125rem 1.25rem;
  border: 1px solid #edf2f7;
}
main .recent-orders .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .recent-orders .header h2 {
  font-size: 1.125rem;
  color: var(--primary-color);
  font-weight: 600;
}
main .recent-orders .header span {
  font-size: 1.125rem;
  color: #34caa5;
  font-weight: 500;
}
main .recent-orders .custom-table {
  width: 100%;
  border-collapse: collapse;
}
main .recent-orders .custom-table thead th {
  padding: 0.875rem 0 1.25rem 0;
  color: #9ca4ab;
  font-weight: 500;
}
main .recent-orders .custom-table th,
main .recent-orders .custom-table td {
  border-bottom: 1px solid #edf2f6;
}
main .recent-orders .custom-table tbody tr td {
  padding: 0.75rem 0 1rem 0;
  vertical-align: middle;
}
main .recent-orders .custom-table tbody tr td:first-child span, main .recent-orders .custom-table tbody tr td:nth-child(3) span:nth-child(2) {
  display: none;
}
main .recent-orders .custom-table tbody tr td:first-child {
  position: relative;
  transition: all 0.5s;
}
main .recent-orders .custom-table tbody tr td:first-child span {
  position: absolute;
  right: -6.8rem;
  top: -18px;
  padding: 0.3rem;
  border-radius: 10px;
  background: #fafafa;
  white-space: nowrap;
  border-bottom: 1px solid #ddd;
  transition: all 0.5s;
  color: #3a3f51;
  font-weight: 500;
}
main .recent-orders .custom-table tbody tr td:first-child:hover span {
  display: block;
}
main .recent-orders .custom-table tbody tr td:nth-child(2) span {
  color: #737373;
  font-size: 0.875rem;
}
main .recent-orders .custom-table tbody tr td:nth-child(3) {
  color: #0d062d;
  font-weight: 500;
  font-size: 0.875rem;
}
main .recent-orders .custom-table tbody tr td:nth-child(4) {
  color: #34caa5;
  font-size: 0.875rem;
}
main .recent-orders .custom-table tbody tr td:last-child span {
  font-size: 0.875rem;
  color: #0d062d;
}
main .recent-orders .custom-table tbody tr:nth-child(even) td:nth-child(4) {
  color: #ed544e;
}
main .recent-orders .custom-table tbody tr:last-child td {
  border-bottom: none;
}
main .top-platform {
  background: #fff;
  border-radius: 14px;
  padding: 1.125rem 1.25rem;
  border: 1px solid #edf2f7;
}
main .top-platform .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.25rem;
}
main .top-platform .header h2 {
  font-size: 1.125rem;
  color: var(--primary-color);
  font-weight: 600;
}
main .top-platform .header span {
  font-size: 1.125rem;
  color: #34caa5;
  font-weight: 500;
}
main .top-platform .progress h3 {
  font-size: 1.125rem;
  color: #22242c;
  margin-bottom: 1.063rem;
}
main .top-platform .progress .progress-bar {
  width: 100%;
  height: 12px;
  background: #f5f5f5;
  border-radius: 40px;
  margin-bottom: 1rem;
}
main .top-platform .progress .progress-bar .progress-width {
  width: 15.313rem;
  background: #6160dc;
  height: inherit;
  border-radius: 40px;
}
main .top-platform .progress .rate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.125rem;
  margin-bottom: 1.25rem;
  color: #525252;
}
main .top-platform .progress:nth-child(3) .progress-bar .progress-width {
  width: 12.769rem;
  background: #54c5eb;
}
main .top-platform .progress:nth-child(4) .progress-bar .progress-width {
  width: 7.633rem;
  background: #ffb74a;
}
main .top-platform .progress:nth-child(5) .progress-bar .progress-width {
  width: 7.633rem;
  background: #ff4a55;
}

/*  ========================================================================== */
/* Media Queries - styling for tablet devices */
@media screen and (min-width: 750px) {
  header {
    display: flex;
    gap: 5.125rem;
  }
  header .logo img {
    width: 2.5rem;
  }
  header ul {
    width: 80%;
  }
  header ul li.search-box {
    width: 70%;
  }
  header ul li.search-box input {
    width: 95%;
  }
  nav .container {
    width: 22%;
    padding: 1.5rem 1rem;
    text-align: start;
  }
  nav .container .navigation-list {
    height: 80vh;
  }
  nav .container .navigation-list::-webkit-scrollbar {
    width: 0.2rem;
  }
  nav .container .navigation-list ul li {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
  }
  nav .container .navigation-list ul li a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  nav .container .navigation-list ul li:hover {
    background: #34caa5;
  }
  nav .container .navigation-list ul li:hover span {
    display: inline;
    color: #fafafa;
  }
  nav .container .navigation-list ul li:hover a img {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(105deg) brightness(107%) contrast(101%);
  }
  nav .container .navigation-list ul .light-dark-mode li {
    display: inline;
  }
  nav .container .navigation-list ul .light-dark-mode li span {
    display: none;
  }
  nav .container .navigation-list ul .light-dark-mode li:hover {
    background: none;
  }
  main .sales-trends .column-chart .chart .sales .graph span:last-child {
    display: none;
  }
  main .sales-trends .column-chart .chart .sales .graph span:first-child {
    display: block;
  }
  main .sales-trends .column-chart .days {
    width: 92%;
    margin-left: 64px;
  }
  main .sales-trends .column-chart .days span {
    margin: 0 10px;
  }
  main .sales-trends .column-chart .days span:nth-child(even) {
    display: none;
  }
  main .sales-trends .column-chart .days span:nth-child(odd) {
    display: block;
  }
  main .sales-trends .column-chart .days span:nth-child(12) .details, main .sales-trends .column-chart .days span:nth-child(11) .details {
    top: -25px;
    left: 22%;
  }
  main .activity-summary {
    grid-template-columns: repeat(2, 1fr);
  }
  main .recent-orders .custom-table thead {
    text-align: left;
  }
  main .recent-orders .custom-table tbody tr td:nth-child(3) span:nth-child(2) {
    display: block;
  }
  main .recent-orders .custom-table tbody tr td:nth-child(3) span:nth-child(1) {
    display: none;
  }
  main .recent-orders .custom-table tbody tr td:first-child {
    display: flex;
    align-items: center;
    gap: 0.625rem;
  }
  main .recent-orders .custom-table tbody tr td:first-child span {
    display: block;
    position: static;
    padding: 0;
    border: none;
    background: none;
  }
  main .recent-orders .custom-table tbody tr td:nth-child(2) span, main .recent-orders .custom-table tbody tr td:nth-child(3), main .recent-orders .custom-table tbody tr td:nth-child(4) {
    font-size: 1rem;
  }
}
/*  ========================================================================== */
/* Media queries - Deskto styling */
@media screen and (min-width: 1020px) {
  body {
    position: relative;
    width: calc(100% - 5rem);
    left: 5rem;
  }
  header {
    gap: 12.125rem;
  }
  header .logo {
    gap: 0;
  }
  header .logo img {
    display: none;
  }
  header ul {
    width: 80%;
  }
  header ul li.search-box {
    width: 15.563rem;
  }
  header ul li.search-box img {
    top: 0.938rem;
  }
  header ul li.search-box input {
    width: 15.563rem;
    padding: 0.75rem 0 0.75rem 2.625rem;
  }
  header ul li.search-box input::-moz-placeholder {
    font-size: 1rem;
  }
  header ul li.search-box input::placeholder {
    font-size: 1rem;
  }
  header ul li.menu .menu1 {
    display: none;
  }
  header ul li.menu .menu2 {
    display: block;
  }
  header ul li.calendar {
    display: flex;
    align-items: center;
    gap: 0.625rem;
    font-size: 0.675rem;
  }
  header ul li.calendar span {
    display: block;
    position: static;
    background: none;
    color: var(--primary-color);
    font-weight: 4;
    padding: 0;
    border-radius: 0;
  }
  header ul li.profile {
    border: solid 1px var(--secondary-color);
  }
  header ul li.profile .p1 {
    display: block;
  }
  header ul li.profile .profile-name {
    display: flex;
    flex-direction: column;
    margin: 0 0.75rem 0 0.5rem;
    text-align: end;
  }
  header ul li.profile .profile-name span {
    color: var(--primary-color);
    font-size: 0.875rem;
  }
  header ul li.profile .profile-name span:last-child {
    font-size: 0.675rem;
    color: var(--secondary-color);
  }
  header.fixed-header {
    left: 5rem;
  }
  nav {
    visibility: visible;
    background: #f7f8fa !important;
    width: 5rem;
    height: 100vh;
  }
  nav .container {
    transform: translate(0);
    width: inherit;
    height: 54.75rem;
    margin: 0;
    padding: 0 0.5rem;
    border-right: 1px solid var(--border-color);
    background: #f7f8fa;
    border-radius: 0;
    text-align: center;
  }
  nav .container .logo {
    margin: 0;
    padding: 1.65rem 0 1.25rem 0;
  }
  nav .container .exit-navigation {
    display: none;
  }
  nav .container .navigation-list .logo {
    text-align: center;
    padding-right: 0;
  }
  nav .container .navigation-list ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    margin: 0;
  }
  nav .container .navigation-list ul li img {
    padding-right: 0;
  }
  nav .container .navigation-list ul li span {
    font-size: 0.9rem;
    font-weight: 500;
    filter: none;
  }
  nav .container .navigation-list ul li span:hover {
    color: #12765d;
    background: none;
  }
  nav .container .navigation-list ul li:hover span {
    display: none;
  }
  nav .container .navigation-list ul li:hover {
    background: none;
  }
  nav .container .navigation-list ul .light-dark-mode {
    background: #fff;
    width: 2.875rem;
    padding: 0;
    margin: 0 auto;
  }
  nav .container .navigation-list ul .light-dark-mode li {
    display: block;
  }
  nav .container .navigation-list ul .light-dark-mode li span {
    position: absolute;
    left: -9999px;
    top: 0;
  }
  nav .container .navigation-list ul .light-dark-mode li:hover {
    background: none;
  }
  main {
    grid-template-columns: repeat(3, 1fr);
  }
  main .sales-trends {
    grid-column: 1/3;
  }
  main .activity-summary .summary .trend-lines img:first-child {
    padding: 0.5rem;
    border: 0.71px solid #e6e6e6;
    border-radius: 24px;
  }
  main .recent-orders {
    grid-column: 1/3;
  }
  main .recent-orders .custom-table tbody tr td:nth-child(3) span:nth-child(2) {
    display: none;
  }
  main .recent-orders .custom-table tbody tr td:nth-child(3) span:nth-child(1) {
    display: block;
  }
}
/*  ========================================================================== */
/* Other desktop viewport sizes */
@media screen and (min-width: 1100px) {
  header {
    gap: 15.125rem;
  }
}
@media screen and (min-width: 1200px) {
  header {
    gap: 22.125rem;
  }
}
@media screen and (min-width: 1300px) {
  header .logo h1 {
    font-size: 1.25rem;
  }
  header .hd-1 .calendar {
    font-size: 0.875rem;
  }
  header .hd-1 .profile .profile-name span {
    font-size: 1rem;
  }
  header .hd-1 .profile .profile-name span:last-child {
    font-size: 0.875rem;
  }
}
/*  ========================================================================== */
/* Dark mode styling */
.dark-mode {
  background: #293448;
}
.dark-mode header {
  border-bottom: none;
}
.dark-mode header .logo h1 {
  color: var(--dark-mode-font);
}
.dark-mode header ul li.search-box img {
  position: absolute;
  left: 1rem;
  top: 0.638rem;
}
.dark-mode header ul li.search-box input {
  background: rgba(0, 0, 0, 0.2);
  border: none;
  outline: none;
}
.dark-mode header ul li.menu span {
  background: var(--dark-mode-font);
}
.dark-mode header ul li.calendar img {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(105deg) brightness(107%) contrast(101%);
}
.dark-mode header ul li:nth-child(4) {
  border: solid 0.048rem var(--dark-mode-border);
  border-radius: 27px;
}
.dark-mode header ul li .notification {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(105deg) brightness(107%) contrast(101%);
  border: none;
}
.dark-mode header ul li.profile {
  border-color: var(--dark-mode-border);
}
.dark-mode header ul li.profile span {
  color: var(--dark-mode-font);
}
.dark-mode header ul li.profile span:last-child {
  color: var(--dark-mode-secondary);
}
.dark-mode header ul li.profile img:last-child {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(105deg) brightness(107%) contrast(101%);
}
.dark-mode header.fixed-header {
  background: rgba(41, 52, 72, 0.9);
}
.dark-mode nav .container {
  background: #27344a;
  border-right: 0;
}
.dark-mode nav .container .navigation-list ul li a img {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(105deg) brightness(107%) contrast(101%);
}
.dark-mode nav .container .navigation-list ul li a span {
  color: var(--font-color);
}
.dark-mode nav .container .navigation-list ul li.current p {
  background: var(--dark-mode-font);
}
.dark-mode main {
  background: #212c3e;
}
.dark-mode main .sales-trends,
.dark-mode main .activity-summary .summary,
.dark-mode main .recent-orders,
.dark-mode main .top-platform {
  background: #293448;
  border: 0;
}
.dark-mode main .sales-trends {
  color: var(--dark-mode-font);
}
.dark-mode main .sales-trends .header h2 {
  color: var(--dark-mode-font);
}
.dark-mode main .sales-trends .header div span:first-child {
  color: var(--font-color);
}
.dark-mode main .sales-trends .header div span:last-child {
  color: var(--dark-mode-font);
  border: 1px solid var(--dark-mode-border);
}
.dark-mode main .sales-trends .header div img {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(105deg) brightness(107%) contrast(101%);
}
.dark-mode main .sales-trends .column-chart {
  color: var(--dark-mode-font);
}
.dark-mode main .sales-trends .column-chart .chart .sales .graph {
  color: var(--dark-mode-font);
}
.dark-mode main .sales-trends .column-chart .chart .bar .graph-line {
  border-bottom: 1px dashed #7d7a7a;
}
.dark-mode main .sales-trends .column-chart .days span .details {
  position: absolute;
  background: var(--dark-mode-font);
  color: var(--primary-color);
}
.dark-mode main .sales-trends .column-chart .days span .details::before {
  border-color: transparent var(--dark-mode-font) transparent;
}
.dark-mode main .activity-summary .summary .trend-lines img:first-child {
  border: 0.71px solid var(--dark-mode-border);
}
.dark-mode main .activity-summary .summary p {
  color: var(--dark-mode-secondary);
}
.dark-mode main .activity-summary .summary p:nth-child(3) {
  color: var(--dark-mode-font);
}
.dark-mode main .activity-summary .order-percentage span {
  color: var(--dark-mode-font);
}
.dark-mode main .recent-orders .header h2 {
  color: var(--dark-mode-font);
}
.dark-mode main .recent-orders .custom-table {
  border-collapse: collapse;
}
.dark-mode main .recent-orders .custom-table thead th {
  color: var(--dark-mode-secondary);
}
.dark-mode main .recent-orders .custom-table th,
.dark-mode main .recent-orders .custom-table td {
  border-bottom: 1px solid var(--dark-mode-border);
}
.dark-mode main .recent-orders .custom-table tbody tr td:nth-child(2) span {
  color: var(--dark-mode-secondary);
}
.dark-mode main .recent-orders .custom-table tbody tr td:nth-child(3) {
  color: var(--dark-mode-font);
}
.dark-mode main .recent-orders .custom-table tbody tr td:last-child span {
  color: var(--dark-mode-font);
}
.dark-mode main .top-platform .header h2 {
  color: var(--dark-mode-font);
}
.dark-mode main .top-platform .progress h3 {
  color: var(--dark-mode-font);
}
.dark-mode main .top-platform .progress .rate {
  color: var(--dark-mode-font);
}
.dark-mode main .top-platform .progress .rate span:last-child {
  color: var(--dark-mode-secondary);
}
@media screen and (min-width: 1020px) {
  .dark-mode header ul li.calendar span {
    color: var(--dark-mode-font);
  }
}
@media screen and (min-width: 750px) {
  .dark-mode .recent-orders .custom-table tbody tr td:first-child span {
    color: var(--dark-mode-font);
  }
}/*# sourceMappingURL=style.css.map */