* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}

:root {
  --primary-color: #26282c;
  --secondary-color: #dadddd;
  --border-color: #ebecf2;
}

body {
  background: #fafafa;
}

header {
  padding: 1.25rem;
  border-bottom: 1px solid #e5eaef;
}
header .logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
header .logo img {
  width: 1.9rem;
}
header .logo h1 {
  font-size: 1rem;
  color: var(--primary-color);
  font-weight: 600;
}
header .hd-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .hd-1 .search-box {
  position: relative;
  width: 55%;
}
header .hd-1 .search-box img {
  position: absolute;
  left: 1rem;
  top: 0.638rem;
}
header .hd-1 .search-box input {
  border: 1px solid var(--secondary-color);
  border-radius: 24px;
  width: 90%;
  padding: 0.5rem 0 0.5rem 2.625rem;
}
header .hd-1 .search-box input::-moz-placeholder {
  color: #a3a3a3;
}
header .hd-1 .search-box input::placeholder {
  color: #a3a3a3;
}
header .hd-1 .menu {
  display: block;
  transition: all 0.5s;
}
header .hd-1 .menu span {
  display: block;
  width: 17px;
  height: 1px;
  background: var(--primary-color);
  margin: 3px 0;
  border-radius: 10px;
  transition: all 0.5s;
}
header .hd-1 .span-menu {
  transition: all 0.5s;
}
header .hd-1 .span-menu span:first-child,
header .hd-1 .span-menu span:last-child {
  width: 11px;
  transform: translate(6px);
  transition: all 0.5s;
}
header .hd-1 .calendar {
  color: var(--primary-color);
  display: flex;
  align-items: center;
  gap: 0.625rem;
  font-size: 0.675rem;
}
header .hd-1 .calendar span {
  display: none;
}
header .hd-1 .notification {
  border-radius: 27px;
  border: solid 0.048rem var(--secondary-color);
  padding: 0.488rem;
}
header .hd-1 .profile {
  display: flex;
  align-items: center;
  padding: 0.375rem 0.5rem;
  border-radius: 28px;
}
header .hd-1 .profile img {
  width: 1.9rem;
}
header .hd-1 .profile img:last-child {
  width: 1.25rem;
}
header .hd-1 .profile .p1 {
  display: none;
}

nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  transition: all 0.5s;
  background: rgba(0, 0, 0, 0.1);
  visibility: hidden;
}
nav .container {
  height: 96vh;
  width: 22%;
  color: var(--primary-color);
  background: var(--dark-color);
  margin: 1rem;
  padding: 1.5rem 1rem;
  padding-right: 0;
  border-radius: 10px;
  position: relative;
  transition: all 0.4s 0.1s;
  background: white;
  transform: translate(-200%);
}
nav .container .logo {
  margin-bottom: 10px;
}
nav .container .exit-navigation {
  font-size: 1.5rem;
  position: absolute;
  right: 0;
  top: -1rem;
  padding: 1rem;
}
nav .container .navigation-list {
  overflow-y: scroll;
  height: 60vh;
}
nav .container .navigation-list::-webkit-scrollbar {
  width: 0.5rem;
}
nav .container .navigation-list::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 100vw;
}
nav .container .navigation-list::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 100vw;
}
nav .container .navigation-list::-webkit-scrollbar-thumb:hover {
  background: var(--font-color);
}
nav .container .navigation-list:hover::-webkit-scrollbar-thumb {
  background: #b2b5b9;
}
nav .container .navigation-list ul {
  list-style: none;
}
nav .container .navigation-list ul li {
  padding: 10px 15px;
  margin: 5px 0;
  transition: all 0.5s;
}
nav .container .navigation-list ul li img {
  padding-right: 15px;
}
nav .container .navigation-list ul li a {
  text-decoration: none;
  color: var(--primary-color);
  transition: all 0.5s;
}
nav .container .navigation-list ul li span {
  display: none;
  transition: all 0.5s;
  color: var(--primary-color);
}
nav .container .navigation-list ul li:hover {
  background-color: var(--secondary-color);
  border-radius: 10px;
}
nav .container .navigation-down {
  position: absolute;
  bottom: 10px;
  right: 1.5rem;
  left: 1.5rem;
  background: var(--dark-color);
}

main {
  margin: 1.25rem;
  display: grid;
  gap: 1.25rem;
}
main .sales-trends {
  position: relative;
  color: black;
  padding: 1rem 1.25rem;
  border: 1px solid #edf2f7;
  border-radius: 14px;
  background: #fff;
}
main .sales-trends .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .sales-trends .header h2 {
  color: var(--primary-color);
  font-size: 1.125rem;
  font-weight: 600;
}
main .sales-trends .header div {
  display: flex;
  align-items: center;
}
main .sales-trends .header div span:first-child {
  font-size: 0.875rem;
  color: #3a3f51;
  font-weight: 500;
}
main .sales-trends .header div span:last-child {
  font-size: 0.675rem;
  color: #3a3f51;
  padding: 0.375rem 0.75rem;
  border: 1px solid #e1dfdf;
  border-radius: 20px;
  font-weight: 500;
  margin-left: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}
main .sales-trends .column-chart {
  position: relative;
  border-radius: 15px;
  color: black;
  font-weight: 100;
  font-size: 0.8rem;
  margin-bottom: 1.25rem;
}
main .sales-trends .column-chart .chart {
  display: flex;
  align-items: center;
  gap: 23px;
}
main .sales-trends .column-chart .chart .sales .graph {
  padding-bottom: 23.83px;
  color: #525252;
}
main .sales-trends .column-chart .chart .sales .graph:last-child {
  padding-bottom: 0;
}
main .sales-trends .column-chart .chart .sales .graph span:first-child {
  display: none;
}
main .sales-trends .column-chart .chart .bar {
  width: 90%;
  padding-bottom: 5px;
}
main .sales-trends .column-chart .chart .bar .graph-line {
  width: 100%;
  padding-bottom: 27.22px;
  border-bottom: 1px dashed #eaeaea;
}
main .sales-trends .column-chart .days {
  width: 90%;
  position: absolute;
  bottom: 0.3rem;
  margin-left: 40px;
  display: flex;
  justify-content: space-between;
}
main .sales-trends .column-chart .days span {
  flex-grow: 1;
  background: rgba(52, 202, 165, 0.1019607843);
  margin: 0 5px;
  position: relative;
  border-radius: 20px 20px 0 0;
  text-transform: lowercase;
}
main .sales-trends .column-chart .days span:nth-child(12),
main .sales-trends .column-chart .days span:nth-child(11) {
  position: relative;
  background: linear-gradient(180deg, #34caa5 0%, rgba(52, 202, 165, 0) 100%);
}
main .sales-trends .column-chart .days span:nth-child(12) .details,
main .sales-trends .column-chart .days span:nth-child(11) .details {
  position: absolute;
  background: #090c2c;
  color: var(--secondary-color);
  width: 5rem;
  height: 1.625rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  top: -25px;
  left: 34%;
  transform: translate(-50%, -50%);
}
main .sales-trends .column-chart .days span:nth-child(12) .details::before,
main .sales-trends .column-chart .days span:nth-child(11) .details::before {
  content: "";
  position: absolute;
  bottom: 22px;
  width: 0;
  height: 0;
  border-style: solid;
  bottom: -10px;
  border-width: 6px 8px 6px 0;
  border-color: transparent #090c2c transparent;
  transform: rotate(-90deg);
}
main .sales-trends .column-chart .days span::after {
  content: attr(data-value);
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
}
main .sales-trends .column-chart .days span:nth-child(odd) {
  display: none;
}
main .activity-summary {
  display: grid;
  gap: 1rem;
}
main .activity-summary .summary {
  background: #fff;
  padding: 1rem;
  border: 1px solid #edf2f7;
  border-radius: 14px;
}
main .activity-summary .summary .trend-lines {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .activity-summary .summary .trend-lines img:first-child {
  padding: 0.5rem;
  border: 0.71px solid #e6e6e6;
  border-radius: 24px;
}
main .activity-summary .summary p {
  font-size: 1.125rem;
  font-weight: 500;
  color: #898989;
  margin: 0.625rem 0 0.313rem 0;
}
main .activity-summary .summary p:nth-child(3) {
  font-size: 1.5rem;
  font-weight: 600;
  color: #3a3f51;
}
main .activity-summary .summary .order-percentage {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .activity-summary .summary .order-percentage div {
  background: rgba(52, 202, 165, 0.1215686275);
  padding: 0.25rem 0.5rem;
  border-radius: 1000px;
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  gap: 2px;
}
main .activity-summary .summary .order-percentage div span {
  color: #34caa5;
  font-size: 0.75rem;
}
main .activity-summary .summary .order-percentage span {
  color: #201919;
  font-size: 0.875rem;
}
main .activity-summary .summary:nth-child(2) .order-percentage div,
main .activity-summary .summary:nth-child(4) .order-percentage div {
  background: rgba(237, 84, 78, 0.1215686275);
}
main .activity-summary .summary:nth-child(2) .order-percentage div span,
main .activity-summary .summary:nth-child(4) .order-percentage div span {
  color: #ed544e;
}
main .recent-orders {
  background: #fff;
  border-radius: 14px;
  padding: 1.125rem 1.25rem;
  border: 1px solid #edf2f7;
}
main .recent-orders .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .recent-orders .header h2 {
  font-size: 1.125rem;
  color: var(--primary-color);
  font-weight: 600;
}
main .recent-orders .header span {
  font-size: 1.125rem;
  color: #34caa5;
  font-weight: 500;
}
main .recent-orders .custom-table {
  width: 100%;
  border-collapse: collapse;
}
main .recent-orders .custom-table thead th {
  padding: 0.875rem 0 1.25rem 0;
  color: #9ca4ab;
  font-weight: 500;
}
main .recent-orders .custom-table th,
main .recent-orders .custom-table td {
  border-bottom: 1px solid #edf2f6;
}
main .recent-orders .custom-table tbody tr td {
  padding: 0.75rem 0 1rem 0;
  vertical-align: middle;
}
main .recent-orders .custom-table tbody tr td:first-child span,
main .recent-orders .custom-table tbody tr td:nth-child(3) span:nth-child(2) {
  display: none;
}
main .recent-orders .custom-table tbody tr td:first-child {
  position: relative;
  transition: all 0.5s;
}
main .recent-orders .custom-table tbody tr td:first-child span {
  position: absolute;
  right: -6.8rem;
  top: -18px;
  padding: 0.3rem;
  border-radius: 10px;
  background: #fafafa;
  white-space: nowrap;
  border-bottom: 1px solid #ddd;
  transition: all 0.5s;
  color: #3a3f51;
  font-weight: 500;
}
main .recent-orders .custom-table tbody tr td:first-child:hover span {
  display: block;
}
main .recent-orders .custom-table tbody tr td:nth-child(2) span {
  color: #737373;
  font-size: 0.875rem;
}
main .recent-orders .custom-table tbody tr td:nth-child(3) {
  color: #0d062d;
  font-weight: 500;
  font-size: 0.875rem;
}
main .recent-orders .custom-table tbody tr td:nth-child(4) {
  color: #34caa5;
  font-size: 0.875rem;
}
main .recent-orders .custom-table tbody tr td:last-child span {
  font-size: 0.875rem;
  color: #0d062d;
}
main .recent-orders .custom-table tbody tr:nth-child(even) td:nth-child(4) {
  color: #ed544e;
}
main .top-platform {
  background: #fff;
  border-radius: 14px;
  padding: 1.125rem 1.25rem;
  border: 1px solid #edf2f7;
}
main .top-platform .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.25rem;
}
main .top-platform .header h2 {
  font-size: 1.125rem;
  color: var(--primary-color);
  font-weight: 600;
}
main .top-platform .header span {
  font-size: 1.125rem;
  color: #34caa5;
  font-weight: 500;
}
main .top-platform .progress h3 {
  font-size: 1.125rem;
  color: #22242c;
  margin-bottom: 1.063rem;
}
main .top-platform .progress .progress-bar {
  width: 100%;
  height: 12px;
  background: #f5f5f5;
  border-radius: 40px;
  margin-bottom: 1rem;
}
main .top-platform .progress .progress-bar .progress-width {
  width: 15.313rem;
  background: #6160dc;
  height: inherit;
  border-radius: 40px;
}
main .top-platform .progress .rate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.125rem;
  margin-bottom: 1.25rem;
  color: #525252;
}
main .top-platform .progress:nth-child(3) .progress-bar .progress-width {
  width: 12.769rem;
  background: #54c5eb;
}
main .top-platform .progress:nth-child(4) .progress-bar .progress-width {
  width: 7.633rem;
  background: #ffb74a;
}
main .top-platform .progress:nth-child(5) .progress-bar .progress-width {
  width: 7.633rem;
  background: #ff4a55;
}

@media screen and (min-width: 750px) {
  header {
    display: flex;
    gap: 5.125rem;
  }
  header .logo img {
    width: 2.5rem;
  }
  header .hd-1 {
    width: 80%;
  }
  header .hd-1 .search-box {
    width: 70%;
  }
  header .hd-1 .search-box input {
    width: 95%;
  }
  nav .container {
    width: 30%;
  }
  nav .container .navigation-list ul li {
    display: flex;
    align-items: center;
  }
  nav .container .navigation-list ul li a {
    display: flex;
    align-items: center;
  }
  nav .container .navigation-list ul li:hover span {
    display: inline;
  }
  main .sales-trends .column-chart .days {
    width: 92%;
  }
  main .sales-trends .column-chart .days span:nth-child(even) {
    display: none;
  }
  main .sales-trends .column-chart .days span:nth-child(odd) {
    display: block;
  }
  main .activity-summary {
    grid-template-columns: repeat(2, 1fr);
  }
  main .recent-orders .custom-table thead {
    text-align: left;
  }
  main .recent-orders .custom-table tbody tr td:nth-child(3) span:nth-child(2) {
    display: block;
  }
  main .recent-orders .custom-table tbody tr td:nth-child(3) span:nth-child(1) {
    display: none;
  }
  main .recent-orders .custom-table tbody tr td:first-child {
    display: flex;
    align-items: center;
    gap: 0.625rem;
  }
  main .recent-orders .custom-table tbody tr td:first-child span {
    display: block;
    position: static;
    padding: 0;
    border: none;
    background: none;
  }
  main .recent-orders .custom-table tbody tr td:nth-child(2) span,
  main .recent-orders .custom-table tbody tr td:nth-child(3),
  main .recent-orders .custom-table tbody tr td:nth-child(4) {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1020px) {
  body {
    position: relative;
    width: calc(100% - 5rem);
    left: 5rem;
  }
  header {
    gap: 12.125rem;
  }
  header .logo {
    gap: 0;
  }
  header .logo img {
    display: none;
  }
  header .hd-1 {
    width: 80%;
  }
  header .hd-1 .search-box {
    width: 15.563rem;
  }
  header .hd-1 .search-box img {
    top: 0.938rem;
  }
  header .hd-1 .search-box input {
    width: 15.563rem;
    padding: 0.75rem 0 0.75rem 2.625rem;
  }
  header .hd-1 .search-box input::-moz-placeholder {
    font-size: 1rem;
  }
  header .hd-1 .search-box input::placeholder {
    font-size: 1rem;
  }
  header .hd-1 .menu {
    display: none;
  }
  header .hd-1 .calendar span {
    display: block;
  }
  header .hd-1 .profile {
    border: solid 1px var(--secondary-color);
  }
  header .hd-1 .profile .p1 {
    display: block;
  }
  header .hd-1 .profile .profile-name {
    display: flex;
    flex-direction: column;
    margin: 0 0.75rem 0 0.5rem;
    text-align: end;
  }
  header .hd-1 .profile .profile-name span {
    color: var(--primary-color);
    font-size: 0.875rem;
  }
  header .hd-1 .profile .profile-name span:last-child {
    font-size: 0.675rem;
    color: var(--secondary-color);
  }
  nav {
    visibility: visible;
    background: white;
    width: 5rem;
    height: 100vh;
  }
  nav .container {
    transform: translate(0);
    width: 5rem;
    height: 54.75rem;
    margin: 0;
    padding: 0;
    border-right: 1px solid var(--border-color);
    background: #f7f8fa;
    border-radius: 0;
    text-align: center;
  }
  nav .container .logo {
    margin: 0;
    padding: 1.65rem 0 1.25rem 0;
  }
  nav .container .exit-navigation {
    display: none;
  }
  nav .container .navigation-list .logo {
    text-align: center;
    padding-right: 0;
  }
  nav .container .navigation-list ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    margin: 0;
  }
  nav .container .navigation-list ul li img {
    padding-right: 0;
  }
  nav .container .navigation-list ul li:hover span {
    display: none;
  }
  nav .container .navigation-list ul li:hover {
    background: none;
  }
  main {
    grid-template-columns: repeat(3, 1fr);
  }
  main .sales-trends {
    grid-column: 1/3;
  }
  main .activity-summary .summary .order-percentage div span {
    font-size: 0.5rem;
  }
  main .activity-summary .summary .order-percentage span {
    font-size: 0.65rem;
  }
  main .recent-orders {
    grid-column: 1/3;
  }
  main .recent-orders .custom-table tbody tr td:nth-child(3) span:nth-child(2) {
    display: none;
  }
  main .recent-orders .custom-table tbody tr td:nth-child(3) span:nth-child(1) {
    display: block;
  }
}
@media screen and (min-width: 1100px) {
  header {
    gap: 15.125rem;
  }
}
@media screen and (min-width: 1200px) {
  header {
    gap: 22.125rem;
  }
}
@media screen and (min-width: 1300px) {
  header {
    gap: 22.125rem;
  }
  header .logo h1 {
    font-size: 1.25rem;
  }
  header .hd-1 .calendar {
    font-size: 0.875rem;
  }
  header .hd-1 .profile .profile-name span {
    font-size: 1rem;
  }
  header .hd-1 .profile .profile-name span:last-child {
    font-size: 0.875rem;
  }
} /*# sourceMappingURL=style.css.map */
